@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan&family=Nunito:wght@200&family=PT+Sans&display=swap');

*{
  font-family: Nunito;
}

body{
  margin: 0pc;
  background-color: rgb(255, 203, 29);
  padding-bottom: 0pc;
}

a{
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  height: 7pc;
  background-color: rgb(255, 203, 29);
  padding-top: 0.5%;
  padding-bottom: 0.8%;
  margin: 0pc;
}

header h1 {
  text-align: center;
  margin-bottom: 0pc;
  font-family: PT Sans;
}

header h5 {
  text-align: center;
  margin-top: 0.5pc;
}

.Links a {
  color: black;
  background-color: rgb(218, 170, 16);
  padding: 0.2pc;
  border: solid rgb(126, 99, 13) 0.1pc;
  font-family: PT Sans;
}

.Links a:active {
  background-color: rgb(175, 138, 15);
  border: rgb(99, 78, 12) solid 0.1pc;
}

.Links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  order: 2;
  justify-content: space-evenly;
  border-bottom: black solid 0.3pc;
  padding-bottom: 0.3pc;
}

main{
  display: flex;
  margin-top: 1pc;
  flex-flow: column;
  padding-left: 1vw;
  padding-right: 1pc;
}

main h2{
  text-align: center;
  font-family: PT Sans;
}

main h4{
  font-family: PT Sans;
  margin-bottom: 0pc;
  background-color: rgb(250, 211, 82);
  padding: 1pc;
}

main p{
  margin-top: 0pc;
  background-color: rgb(250, 211, 82);
  padding: 1pc;
}

main img{
  height: 15pc;
  width: 10pc;
  padding: 0.5pc;
  background-color: rgb(216, 179, 58);
  margin-bottom: 5pc;
}

main .HI{
  display: flex;
  justify-content: space-evenly;
}

footer{
  margin-top: 0.5pc;
  padding-top: 0.2pc;
  background-color: rgb(250, 211, 82);
  height: 9pc;
}

footer ol{
  background-color: rgb(250, 211, 82);
  padding-bottom: 1pc;
}