body {
  background-color: black;
  margin: 0pc;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}
.center {
  display: flex;
  background-color: rgb(255, 203, 29);
  height: 100vh;
  width: 59vw;
  border: solid black 0.3pc;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

header {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 60vw;
  background-color: rgb(255, 203, 29);
  padding-top: 0.5%;
  padding-bottom: 0.8%;
  order: 1;
  align-self: flex-start;
}

header h1 {
  text-align: center;
  margin-bottom: 0pc;
}

header h5 {
  text-align: center;
  margin-top: 0.5pc;
}

.Links a {
  color: black;
  background-color: rgb(218, 170, 16);
  padding: 0.2pc;
  border: solid rgb(126, 99, 13) 0.1pc;
}

.Links a:active {
  background-color: rgb(175, 138, 15);
  border: rgb(99, 78, 12) solid 0.1pc;
}

.Links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  order: 2;
  justify-content: space-evenly;
  border-top: black solid 0.3pc;
  padding-top: 0.3pc;
}

.sig {
  background-color: rgb(255, 203, 29);
  border-radius: 1pc;
}

.EH {
  border-radius: 0pc;
  padding: 0.5pc;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.EH p {
  float: left;
  color: black;
  background-color: rgb(218, 170, 16);
  padding: 0.2pc;
  border: solid rgb(126, 99, 13) 0.1pc;
}

.EH a {
  padding: 0.1pc;
}

.EH p:active {
  background-color: rgb(175, 138, 15);
  border: rgb(99, 78, 12) solid 0.1pc;
}

.EH img {
  height: 1.5pc;
  width: 1.5pc;
}

.side {
  height: 100vh;
  width: 20.5vw;
  display: flex;
  background-color: rgb(255, 203, 29);
  flex-flow: row wrap;
  border: solid black 0.3pc;
  justify-content: center;
  padding: 0.5pc;
}

.side a {
  margin-left: 1pc;
  margin-right: 1pc;
}

.side img {
  width: 4pc;
  height: 4pc;
}

.center main {
  height: 60%;
  width: 59vw;
  border: solid black 0.3pc;
  order: 2;
}
